body {
    background: #000;
    color: #FFF;
}

p{
    font-size: 1.3em;
}
.my-center-container-title {
    position: relative;
    max-width: 1300px;
    margin-left: 44vw;
    box-sizing: border-box;
    display: grid;
}

.my-wrapper-container{
    position: relative;
    max-width: 1300px;
    margin-left: 25vw;
    margin-right: 25vw;
    box-sizing: border-box;
}

.my-wrapper-container-todo-add{
    margin-left: 45vw;
}

.my-wrapper-container-table{
    margin-left: 33vw;
}




@media(max-width: 768px) {
    .my-center-container-title {
        margin-left: 39vw;
        max-width: 350px;
    }

    .my-wrapper-container{
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .my-wrapper-container-table{
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .my-wrapper-container-todo-add{
        margin-left: 35vw;
    }
}

@media(min-width: 768px) and (max-width: 1280px) {
    .my-center-container-title {
        margin-left: 42%;
        max-width: 1100px;
    }

    .my-wrapper-container{
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

@media(min-width: 768px) and (max-width: 960px){
    .my-wrapper-container-table{
        margin-left: 15vw;
        margin-right: 5vw;
    }

    .my-wrapper-container-todo-add{
        margin-left: 40vw;
    }
}

@media(min-width: 961px) and (max-width: 1280px){
    .my-wrapper-container-table{
        margin-left: 18vw;
        margin-right: 5vw;
    }

    .my-wrapper-container-todo-add{
        margin-left: 40vw;
    }
}





.my-bold {
    font-weight: bold;
}

.my-right-float{
    float: right;
}

.fa-angry:hover, .fa-times:hover {
    cursor: pointer;
}
.fa-angry{
    color:red
}
.fa-times{
    color: #ff8f00;
}
.fa-award {
    color: green;
}

h4{
    line-height: 1.35;
    letter-spacing: -.08rem;
}





.my-button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

label{
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

input, button{
    margin-bottom: 1.5rem;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th:first-child, td:first-child {
    padding-left: 0;
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}



